{% extends "layout.html" %}

{% block all %}


<div class = "jumbotron text-center">
    <h2><i><b>HAKKIMDA
        <br>
        (ABOUT ME)
    </b></i></h2>
    <hr>
    <p><i><b>
    Ben 20 nisan 2000 Ordu Kumru doğumluyum.Ailem 2 yaşındayken İstanbul'a taşınmış ve 17-18 senemi İstanbul Ümraniye'de geçirdim.Ondan sonra babamın imam olması ile
    o önce Antalya'ya taşındı benim mezun senem olduğu için gitmedik ve Erzurumu kazandım artık Erzurum'a taşındım ben.İlk yıl Erzurum'da yurtta kaldım sonrasında malum 
    zaten pandemi çıktı ve dönmek zorunda kaldık o sırada da babam Şanlıurfaya tayini çıkmıştı.2 sene pandemide Şanlıurfa da kaldım.
    <hr>
    I was born on April 20, 2000 in Ordu Kumru.My family moved to Istanbul when I was 2 years old and I spent 17-18 years in Istanbul Umraniye.After that, with my father becoming an imam
    he first moved to Antalya, we didn't go because it was my graduation year, and I won my Erzurum, now I've moved to Erzurum.I stayed in a dormitory in Erzurum for the first year, and then I know
    anyway, the pandemic came out and we had to return, and at that time my father was assigned to Sanliurfa.i stayed in Şanlıurfa during the pandemic for 2 years.
    </b></i></p>

   

</div>

{% endblock  %}