{% extends "layout.html" %}
{% load static %} 
{% block all %}

<div class = "jumbotron text-center">
    <h2><i><b>BLOĞUMA HOŞ GELDİNİZ
        <br>
        (WELCOME TO MY BLOG)</b></i></h2>
    <hr>
    <p>
        Atatürk Üniversitesi 4. Sınıf Bilgisayar Mühendisi Öğrencisiyim. Python
        üzerinde aldığım bir kursum var onun üzerinde ilerlemeyi düşünüyorum.
        İngilizcede b1 seviyesindeyim ve onda da devam eden bir kursum
        var.Kendimi sürekli yenilemeyi bir şeyler katmayı çok seviyorum.
        Dahaca python da ne üzerine ilerlediğime karar veremedim ilerleyen zamanlarda bakmayı düşünüyorum.
        Evet biliyorum artık karar vermem gerekiyor ama emin olup her şeyi görüp öyle karar vermek istiyorum.
        Evet düşündüğünüz gibi ileride pişman olmamak için çünkü hayatımın kalanı için önemli karar.
        <br>
        <hr>
        Ataturk University 4. I am a Class Computer Engineer Student. Python
        I have a course I'm taking on, I'm thinking about moving forward on it.
        I am at b1 level in English and I am an ongoing course in it as well
        there is.I really like to constantly renew myself and add something.
        Even more, I couldn't decide what I was moving on to in python, I'm thinking of looking at it later.
        Yes, I know I have to decide now, but I want to be sure, see everything and decide so.
        Yes, as you think, in order not to regret it in the future, because it's an important decision for the rest of my life.
    </p>
    <hr>
</div>

<p style="color:Tomato;"> {% if request.user.is_authenticated %}           <!-- Bir kullanıcı giriş yaptı mı diye kontrol etttik-->
        Giriş Yapılmış : {{request.user.username}}
    {% else %}
        Giriş Yapılmadı .
    {% endif %}





{% endblock %}