{% extends 'layout.html' %}

{% block all %}
{% load crispy_forms_tags %}
<div class = "jumbotron text-center">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <h3> KAYIT OL </h3>
            <hr>

            <form method = "post" >
                {% csrf_token %}                                                        <!-- oturum açarken üçüncü kişilerden korumak için-->
                {{ form|crispy}}  
                
                <br>
                <button type ="submit" class = "btn btn-danger">KAYIT OL </button>
            </form>

        </div>
    </div>

</div>
{% endblock  %}